<!--Allows the user to choose one phone number from the given set of
    phone numbers for a contact having multiple numbers-->
<ion-view view-title="{{contact.displayName}}">
  <ion-content class="padding">
	   <h3 style="text-align:center">Available phone numbers</h3>
	    <p style="text-align:center" ng-if="contact.phones.length>1">Click to choose a number.</p>
	     <ion-list>
		       <ion-item ng-click="keep(contact,number)" class="item" ng-repeat="number in contact.phones" >

			          <p> {{number.value}}</p>

           </ion-item>
       </ion-list>
   </ion-content>
</ion-view>
